<script>
	let amount = 100;
	let zone = 1;
	const dim = () => fetch(`/${zone}/dim/${amount}`, {mode:'no-cors'});
	const turnOn = () => fetch(`/${zone}/on`, {mode:'no-cors'});
	const turnOff = () => fetch(`/${zone}/off`, {mode:'no-cors'});
</script>

<style>
	section {
		display: flex;
		flex-direction: column;
		padding: 2rem;
	}
	
	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
	
	div * {
		margin: 10px
	}
	
	button {
		display: block;
		margin-top: 1rem
	}
	
	input {
		flex: 1;
	}

	div.button-group {
		display: flex;
		flex-direction: row;
	}

	div.button-group button {
		flex: 1 0 auto;
	}
</style>

<section>
	<h1>Fiddle wit de lights mon!</h1>

	<div class="button-group">
		<button on:click={() => {zone=1;}}>1</button>
		<button on:click={() => {zone=2;}}>2</button>
		<button on:click={() => {zone=3;}}>3</button>
		<button on:click={() => {zone=4;}}>4</button>
	</div>

	<label>Zone: </label>
	<input type="text" bind:value={zone} />
	
	<div>
		<span>{amount}</span>
		<input type="range" bind:value={amount} />
		<button on:click={dim}>Dim/Brighten</button>
	</div>

	<button on:click={turnOn}>ON</button>
	<button on:click={turnOff}>OFF</button>
</section>